//compass imports
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import 'variables';

.PreviewRecipePhoto {
  width: 800px;
  height: 400px; 
  @include border-radius($border-radius);
}