@import 'variables';

/* Basics */

* {
	@include box-sizing;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear { clear: both; }

body {
	margin: 0;
	background: $background;
	color: $main-text;
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.55;
}

a, a:visited {
	color: $main-text;
	text-decoration: none;
	&:hover, &:focus { color: darken($main-text,10%); }
}

.link {
	display: inline-block;
	padding: 20px 0;
	color: $white;
	text-align: center;
	background: $light-grey;
	border: 1px solid $dark-grey;
	@include border-radius(3px);
	@include transition;

	&:hover, &:focus {
		color: $white;
		background: $dark-grey;
	}

	&.action { width: 160px; }
	// &.right { float: right; }
}

h1 {
	font: {
		size: 2.5em;
	}
}

h2 {
	font: {
		size: 2.15em;
		family: $serif;
	}
}

h3 {
	font: {
		size: 1.75em;
		weight: lighter;
	}
}

h4 {
	font: {
		size: 1.55em;
		family: $serif;
	}
}

em { font-style: italic; }

button {
	float: right;
	width: 100px;
	height: 36px;
	margin: -5px 21px 0 0;
	background: $button-bg-color;
	font: {
		size: .95em;
		}
	color: darken($main-text,15%);
	cursor: pointer;
	@include border-normal($light-grey);
	@include border-radius(3px);
	&:hover, &:focus {
		color: $white;
		background: $light-grey;
	}
	&:focus {
		outline-color: $white;
		outline-style: auto;
		outline-width: 1px;
	}

	&.add-step, &.save-recipe {
		float: right;
		width: auto;
		height: 56px;
		margin: 5px 0 45px 0;
		padding: 0 8px;
	}

	&.save-recipe {
		margin: 5px 0 0px 0;
		padding: 0 16px;
	}
}

.flex-container {
	width: 100%;
	@include flex-container;

	.whole {
		-webkit-flex: 100 0 0; 
	 	flex: 10 0 0; 
	}

	.ten {
		-webkit-flex: 10 0 0; 
   	flex: 10 0 0; 
	}

	.fifteen {
		-webkit-flex: 15 0 0; 
   	flex: 15 0 0; 
	}

	.nine {
		-webkit-flex: 90 0 0; 
   	flex: 90 0 0; 
	}

	input { width: auto; }
}

label {
	margin-right: 15px;
	line-height: 1;
	vertical-align: bottom;
}

%input-spacing {
	margin-right: 10px;
	&:last-child { margin-right: 0; }
}

form {
	&.search {
		margin-bottom: 40px;

		.all-recipe-container & {
			margin-top: 40px;
		}

		input {
			&[type="search"] {
				-webkit-border-top-right-radius: 0;
				border-top-right-radius: 0;
				-webkit-border-bottom-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&[type="button"] {
				padding: 0;
				background: $dark-grey;
				color: white;
				cursor: pointer;
				-webkit-border-top-left-radius: 0;
				border-top-left-radius: 0;
				-webkit-border-bottom-left-radius: 0;
				border-bottom-left-radius: 0;

				&:hover {
					background: darken($dark-grey,15%);
				}
			}
		}
	}
}

input, textarea {
	display: inline-block;
	width: 451px;
	margin: 0 0 10px 0;
	padding: 0 0 0 15px;
	background: lighten($brand-color-2,10%);
	font: {
		size: 1em;
	}
	line-height: 3.5;
	border: none;
	@include border-radius(3px);
	box-shadow: inset 0 0 3px rgba(0,0,0,.2);
	
	&:not([type="radio"]) { -webkit-appearance: none; }

	.temperature & {
		margin-right: 0;
		float: left;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&.full-width {
		width: 100%;
		height: 200px;
		padding: 10px 0 0 10px;
		line-height: 1.5;
	}

	&.extra-small {
		@extend %input-spacing;
		width: 81px;
	}

	&.small {
		@extend %input-spacing;
		width: 113px;
	}

	&.medium {
		@extend %input-spacing;
		width: 362px;
	}

	&.large {
		@extend %input-spacing;
		width: 390px;
	}

	&[type="file"] { display: none; }
	&[type="radio"] {
		width: 13px;
		height: 13px;
		line-height: 1;
		margin: 10px 7px 2px 0px;
		padding: 0;
		@include border-normal($light-grey);
		border-radius: 100%;
		outline: none;

		&:focus {
			background: $light-grey;
		}
	}

	&[type="range"] {
		display: block;
		max-width: 613px;
		width: 100%;
		height: 2px;
		margin: 21px auto;
		background: $light-grey;
		outline: none;
		&::-webkit-slider-thumb {
		  -webkit-appearance: none;
		  background-color: $dark-grey;
		  width: 20px;
		  height: 20px;
		  @include border-normal(darken($background-secondary,5%));
		  border-radius: 100%;
		}
	}
}

select {
	margin-right: 10px;
	&:last-child { margin-right: 0; }
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
	}
}

hr {
	width: 100%;
	height: 1px;
	margin: 0;
	background: $main-text;
	box-shadow: none;
}

.main-container {
	position: absolute;
	top: 116px;
	left: 0;
	width: 100%;
	padding: 0 8% 4em 290px;

	section {
		position: relative;
		width: 100%;
	}
}

.section-title {
	 p { display: inline-block; }
}

.float {
	&.left { float: left; }
	&.right { float: right; }
}

.all-recipe-container {
  width: 100%;
  padding: 0;
  text-align: left;

  h3 {
    padding-bottom: 35px;
    font-family: 'Noticia Text',Georgia,'New Times Roman',serif;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
  }

  hr {
    width: 100%;
    margin-bottom: 0;
  }

  .layout {
    display: block;
    width: 62px;
    margin-bottom: 15px;
    padding: 15px 0 10px 15px;
    background-color: white;
  }
  
  .ss-grid, .ss-rows {
    display: inline-block;
    margin-right: 15px;
    color: lighten($brand-color-2, 65%);
  }

  .active {
      color: $brand-color-2;
    }
}

.list-item {
  display: block;
  width: 100%;
  height: auto;
  min-height: 80px;
  margin: 0px auto 50px auto;
  padding: 25px 0;
  border-bottom: 1px solid white;

  img {
    float: left;
    max-width: 80px;
    vertical-align: top;
  }
}

.list-item-info {
  display: inline-block;
  width: 60%;
  margin: 0px 0 0 20px;

  h6 {
    display: block;
    margin: 0px 0 5px 0;
    font-weight: bolder;
    line-height: 1;
  }

  p {
    margin: 0px 0px 0 0;
    padding: 0;
    display: block;
  }
}

.list-item-command {
  float: right;
  margin-top: 28px;
  color: red;

  span {
    display: inline-block;
    margin: 0 5px 0 15px;

    p {
    	display: inline-block;
      margin: 0 0 0 5px;
      padding: 0;
    }
  }
}

.js-save-ingredients, .js-recipe-slider { display: none; }

// @import 'header';
// @import 'aside';
// @import 'recipe-preview';
// @import 'dashboard';
// @import 'fullscreen';
// @import 'new-recipe';
// @import 'slider';