@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

body {
  background-color: whitesmoke;
  font-family: "Noticia Text", Georgia, "New Times Roman", serif;
  color: #232323;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 18px;
  display: inline-block;
  margin: 40px 18px 52px 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  color: #232323;
  letter-spacing: -0.04em;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 1.3;
}

h2 {
  font-size: 96px;
}

h3 {
  font-size: 70px;
  padding-bottom: 10px;
}

h4 {
  font-size: 40px;
  padding-bottom: 14px;
}

h5, h6 {
  color: #232323;
  font-family: "Noticia Text", Georgia, "New Times Roman", serif;
  line-height: 1.3;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  font-weight: 400;
}

/* Detail titles in .glance-box */
.labels {
  font-size: 14px;
  font-weight: 400;
  color: #232323;
  padding-top: 2px;
  padding-bottom: 4px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.global-sidebar {
  position: fixed;
  width: 200px;
  top: 0px;
  bottom: 0;
  background: #fcfcfc;
  border-top: 68px solid #232323;
  z-index: -1;
}
.global-sidebar ul {
  width: 170px;
  margin: 0 auto;
  margin-top: 17px;
}
.global-sidebar ul li {
  list-style: none;
  padding: 25px 20px 0 0;
  text-align: center;
  margin: 0 0 0 10px;
}
.global-sidebar ul li h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #232323;
}
.global-sidebar ul li:after {
  content: "";
  display: block;
  width: 50px;
  padding: 25px 0 0 0;
  border-bottom: 1px solid #494949;
  margin: auto;
}
.global-sidebar ul li:last-child:after {
  border-bottom: none;
}
.global-sidebar ul li a {
  text-decoration: none;
  color: #232323;
}
.global-sidebar ul li:hover, .global-sidebar ul li a:focus {
  opacity: 0.6;
}

.header {
  width: 100%;
  height: 68px;
  margin: 0;
  padding: 0;
  background-color: #232323;
  z-index: 9999;
  font-size: 24px;
  color: whitesmoke;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}

.salutation {
  margin: 0;
  padding: 21px 0 0 34px;
}

.logo {
  text-align: center;
  margin: 0 auto;
  margin-top: -39px;
  padding: 0;
}
.logo a, .logo a:visited {
  font-weight: 300;
  font-style: normal;
  color: whitesmoke;
  text-decoration: none;
  text-shadow: none;
}
.logo a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.logout-icon:hover {
  opacity: 1;
}

.logout-icon {
  max-width: 30px;
  opacity: .3;
}

.navigation {
  text-align: right;
  padding-right: 37px;
  margin-top: -46px;
}
.navigation ul {
  list-style: none;
  display: inline-block;
}
.navigation li {
  display: inline-block;
  padding-left: 38px;
}
.navigation a {
  text-decoration: none;
  color: white;
}
.navigation a:hover {
  color: #efb968;
}
.navigation a:hover .logout {
  color: #9b0000;
}

.global-container {
  position: relative;
  width: auto;
  margin-left: 13%;
  margin-top: 0px;
  text-align: center;
}

.container {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 0;
}
.container.read-recipe-page {
  max-width: 809px;
  padding-bottom: 50px;
}
.container.create-recipe-page {
  max-width: 700px;
  margin-top: 37px;
}

.content {
  position: relative;
  margin-top: 46px;
  padding-bottom: 50px;
}

.full-width-photo {
  width: 100%;
  max-width: 809px;
  margin-top: 52px;
  text-align: center;
}

form {
  width: 68.57143%;
  display: inline-block;
  margin-bottom: 50px;
}
form p {
  margin: 0;
  padding-right: 25px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #232323;
  font-size: 15px;
  font-weight: 200;
  display: inline-block;
}

.main-recipe-checkboxes {
  width: 480px;
  margin-top: 0px;
}

.recipe-details {
  max-width: 702px;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 50px 0;
  text-align: center;
}

.summary {
  max-width: 700px;
  border: 1px solid #c2c2c2;
  margin-bottom: 36px;
  text-align: left;
}

.ingredients {
  max-width: 700px;
  margin: 0 0 36px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid #c2c2c2;
  text-align: left;
  box-sizing: border-box;
  z-index: 1000;
}

.steps {
  max-width: 700px;
  padding: 0 0 40px 0;
  margin: 0px 0 0 0;
  text-align: left;
}

.all-recipe-container {
  width: 85%;
  max-width: 1060px;
  margin: 25px auto;
  padding: 0;
  text-align: left;
}
.all-recipe-container h3 {
  padding-bottom: 35px;
  font-family: 'Noticia Text',Georgia,'New Times Roman',serif;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}
.all-recipe-container hr {
  width: 100%;
  margin-bottom: 0;
}
.all-recipe-container .search-bar {
  max-width: none;
  margin-bottom: 2%;
}
.all-recipe-container .search-button {
  width: 14.3%;
  max-width: none;
}
.all-recipe-container .grid-or-row {
  display: block;
  width: 62px;
  margin-bottom: 15px;
  padding: 15px 0 10px 15px;
  background-color: white;
}
.all-recipe-container .ss-grid, .all-recipe-container .ss-rows {
  display: inline-block;
  margin-right: 15px;
  color: #c9c9c9;
}
.all-recipe-container .ss-grid:hover, .all-recipe-container .ss-rows:hover, .all-recipe-container .ss-grid:focus, .all-recipe-container .ss-rows:focus {
  cursor: pointer;
}
.all-recipe-container .active {
  color: #232323;
}

.all-recipe-container :last-child {
  border-bottom: none;
}

.search-bar {
  -webkit-appearance: none;
  width: 80%;
  max-width: 862px;
  margin: 2% auto 0 auto;
}

.search-button {
  display: inline-block;
  width: 10%;
  max-width: 200px;
  padding: 2.85%;
  margin: 0;
  background-color: #232323;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: whitesmoke;
  font-size: 17px;
  text-align: center;
}

.recipe-row {
  width: 90%;
  max-width: 1062px;
  padding: 33px 0;
  margin: 0 auto;
}

.my-recipes-row, .public-recipes-row, .popular-recipes-row, .favorite-recipes-row, .my-pantry-row {
  width: 100%;
  text-align: left;
}

.recipe-grid-container {
  display: inline-block;
  width: 190px;
  height: 220px;
  margin-right: 4.2857143%;
  margin-bottom: 4.2857143%;
  text-align: center;
}
.recipe-grid-container h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
}

.grid-item {
  display: block;
  width: 100%;
  height: 190px;
  border-radius: 0px;
  margin-bottom: 5px;
  background-color: #76c7a5;
  border: 2px solid white;
  overflow: hidden;
}
.grid-item img {
  max-width: 190px;
}

.list-item {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px auto;
  padding: 25px 0;
  border-bottom: 1px solid white;
}
.list-item img {
  float: left;
  max-width: 60px;
  vertical-align: top;
}

.list-item-info {
  display: inline-block;
  width: 60%;
  margin: -5px 0 0 20px;
}
.list-item-info h6 {
  display: block;
  vertical-align: top;
  margin: 0px 0 5px 0;
}
.list-item-info p {
  margin: 0px 0px 0 0;
  padding: 0;
  display: block;
}

.list-item-command {
  float: right;
  margin-top: 28px;
  color: #c9c9c9;
}
.list-item-command .ss-write, .list-item-command .ss-delete {
  display: inline-block;
  margin: 0 5px 0 15px;
}
.list-item-command .ss-write p, .list-item-command .ss-delete p {
  margin: 0 0 0 5px;
  padding: 0;
}
.list-item-command .ss-write:hover, .list-item-command .ss-write:focus, .list-item-command .ss-delete:hover, .list-item-command .ss-delete:focus {
  color: #232323;
  cursor: pointer;
}

.view-all {
  width: 85px;
  float: right;
  margin: 0;
  margin-top: -67px;
  background-color: whitesmoke;
  padding-left: 10px;
}
.view-all h6 {
  display: inline-block;
}

.ss-navigateright {
  display: inline-block;
  padding-left: 10px;
  font-size: 12px;
  color: #232323;
}

.cover-photo {
  max-width: 809px;
  width: 90%;
  max-height: 403px;
  height: auto;
  padding: 0;
  margin: 26px auto 32px auto;
  text-align: center;
  border: 1px solid white;
  overflow: hidden;
}
.cover-photo img {
  width: 100%;
}

.preview-recipe-photo {
  width: 800px;
  height: 400px;
  border-radius: 0px;
}

.section-heading {
  text-align: left;
  display: inline-block;
  padding-right: 10px;
  background-color: whitesmoke;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #b0b0b0;
  margin-top: -12px;
  margin-bottom: 52px;
}
hr.step-heading {
  margin: -12px 0px 25px 0px;
}
hr.personal-notes {
  margin: -12px 0px 17px 0px;
}

.steps-content {
  width: 460px;
  padding: 24px 20px 24px 0;
  vertical-align: top;
  display: inline-block;
}
.steps-content p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.big-ass-recipe-title {
  text-align: center;
  margin-top: 19px;
}

.byline {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #232323;
  line-height: 1;
}

/* ----------------------------------- */
/*   recipe instructions at a glance   */
/* ----------------------------------- */
.glance-box {
  width: 154px;
  padding: 16px 0 14px 20px;
  border-right: 1px solid #c2c2c2;
  display: inline-block;
}
.glance-box span, .glance-box small {
  font-size: 32px;
  color: #232323;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}
.glance-box small {
  font-size: 23px;
}
.glance-box.glance-box:last-child {
  border: none;
}

.glance-title {
  text-align: left;
}

.recipe-box {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.yield-slider {
  width: 100%;
  margin: 25px 0 22px 0;
  padding: 0;
}
.yield-slider p {
  display: inline-block;
  font-size: 10px;
  line-height: 0;
  width: 1%;
}

.recipe-title, .yield-amount {
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: left;
}

.recipe-details ul {
  display: inline-block;
}
.recipe-details ul.ingredient-amounts {
  width: 20%;
  padding: 10px 0 10px 0;
  border-right: 1px solid #c9c9c9;
  text-align: right;
}
.recipe-details ul.ingredient-amounts li {
  padding-right: 16px;
}
.recipe-details ul.ingredient-names {
  width: 79.8%;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: left;
}
.recipe-details ul.ingredient-names li {
  padding-left: 16px;
}
.recipe-details ul li {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 200;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 2.2;
  border-bottom: 1px solid #c9c9c9;
}
.recipe-details ul li:last-child {
  border-bottom: none;
}

.ingredient-list {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #c9c9c9;
  background-color: whitesmoke;
}

.step-ingredients {
  display: inline-block;
  width: 240px;
  margin: 0 0 0 20px;
  padding: 10px;
  box-sizing: border-box;
}
.step-ingredients ul {
  display: inline-block;
}
.step-ingredients ul.ingredient-amounts {
  width: 37%;
}
.step-ingredients ul.ingredient-amounts li {
  font-weight: 400;
}
.step-ingredients ul.ingredient-names {
  width: 61.8%;
}
.step-ingredients ul li {
  font-size: 15px;
  font-weight: 200;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 2.2;
}

.steps-content, .notes-content {
  display: inline-block;
  width: 440px;
  padding: 0;
  margin: 15px 0 0 0;
  vertical-align: top;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 1.6;
}
.steps-content.notes-content, .notes-content.notes-content {
  width: 700px;
  padding: 0px 0px 0px 0px;
  margin: 0 0px 100px 0px;
}
.steps-content.notes-content p, .notes-content.notes-content p {
  margin: 15px 0px 0 0px;
  padding: 0;
}

table.steps {
  width: 200px;
  display: inline-block;
  margin: 15px 0 0 40px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
table .left {
  width: 80px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 14px 15px 18px 0;
  text-align: right;
  font-weight: bolder;
}
table .right {
  width: 140px;
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-weight: lighter;
}
table .last {
  border-bottom: none;
}

.btnstart.edit a, .btnstart.edit a:visited {
  float: right;
  margin-top: 19px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #a3a3a3;
  text-decoration: none;
  text-align: right;
}

.btnstart.edit a:hover, .btnstart.edit a:focus {
  color: #232323;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.add-step-button {
  padding: 15px 0 13px 0;
  width: 31%;
  border-radius: 0px;
  border: 2px solid #0a0a0a;
  background-color: #232323;
  display: inline-block;
  margin: 19px 0 21px 483px;
  font-size: 18px;
  color: white;
}

.add-remove-button {
  width: 8.2857%;
  font-size: 17px;
  margin: 11px 0 0 13px;
  padding: 15px 0 15px 0px;
  display: inline-block;
  border-radius: 0px;
  border: 2px solid #0a0a0a;
  background-color: #232323;
  vertical-align: top;
  color: white;
}
.add-remove-button .ss-plus, .add-remove-button .ss-hyphen {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: white;
  position: relative;
  top: 3px;
}

.save-button {
  width: 34.57143%;
  padding: 15px 0 16px 0;
  border-radius: 0px;
  background-color: #76c7a5;
  border: 1px solid #378765;
  font-size: 16px;
  font-weight: normal;
  color: whitesmoke;
  margin: 34px 0 0px 457px;
  font-size: 18px;
}

.start-button {
  width: 24.57143%;
  padding: 17px 0;
  float: right;
  margin: 0px 0px 50px 18px;
  border-radius: 0px;
  background: linear-gradient(top, #76c7a5, #52b88d);
  border: 1px solid #52b88d;
  font-size: 17px;
  font-weight: 400;
  color: whitesmoke;
  text-align: center;
}

.adjust {
  float: right;
  width: 110px;
  height: 44px;
  margin: 0;
  padding: 0;
  display: inline-block;
  outline: 1px solid #999999;
  background: #232323;
  vertical-align: top;
  font-size: 17px;
  color: white;
}

.add-photo {
  float: left;
  width: 190px;
  margin-right: 4.2857143%;
  padding: 54px 0;
  background: white;
  outline: 2px solid #76c7a5;
  border-radius: 0px;
  text-align: center;
  vertical-align: top;
  z-index: 1200;
}
.add-photo.dashboard {
  float: none;
  display: inline-block;
}
.add-photo h6 {
  color: #76c7a5;
}
.add-photo .ss-plus {
  font-size: 32px;
  line-height: 54px;
  color: #76c7a5;
}

.add-photo:hover {
  box-shadow: 0 0 20px #bee5d5;
}

.chzn-search {
  display: none;
}

.chzn-container-single .chzn-single {
  background-color: white;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.recipe-type-dropdown {
  display: inline-block;
  position: relative;
  margin-right: 1.857143%;
  top: -1px;
  outline: 1px #cfcfcf solid;
}
.recipe-type-dropdown .chzn-container {
  width: 222px !important;
}
.recipe-type-dropdown .ss-navigatedown {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 24px;
  right: 38px;
  z-index: 100;
  color: #707070;
  pointer-events: none;
}

.input-add-on {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.temp-unit-wrap {
  position: relative;
}
.temp-unit-wrap .temp-unit-dropdown {
  position: absolute;
  right: 2px;
  top: -59px;
  line-height: 1;
}
.temp-unit-wrap .temp-unit-dropdown .chzn-container {
  width: 63px !important;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
}
.temp-unit-wrap .temp-unit-dropdown .ss-navigatedown {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 23px;
  right: 22px;
  z-index: 100;
  color: #707070;
  pointer-events: none;
}

.unit-type-dropdown {
  display: inline-block;
  position: relative;
  margin-right: 1.857143%;
  top: 1px;
  outline: 1px #cfcfcf solid;
}
.unit-type-dropdown .chzn-container {
  width: 124px !important;
}
.unit-type-dropdown .ss-navigatedown {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 24px;
  right: 31px;
  z-index: 100;
  color: #707070;
  pointer-events: none;
}

::-webkit-input-placeholder {
  color: #a3a3a3;
}

input {
  display: inline-block;
  background-color: white;
  border-radius: 0px;
  border: 1px solid #cfcfcf;
  box-shadow: none;
  box-sizing: border-box;
  color: #232323;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 17px;
  padding: 2.571% 0 2.571% 16px;
}
input:focus {
  background-color: white;
  border: none;
  outline: 1px solid #b5b5b5;
}
input.xlarge {
  padding: 3.14% 0 3.14% 2.857%;
  margin-bottom: 16px;
  width: 68.2857%;
}
input.large {
  width: 59%;
  margin: 1.57% 0 0 0;
}
input.medium {
  width: 54.7143%;
  margin: 1.57% 0 0 0px;
}
input.smedium {
  width: 26.42857%;
  margin-top: 1px;
}
input.smedium#alpha {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border-right: 0;
  border-radius: 2px 0 0 2px;
}
input.small {
  width: 17.7143%;
  margin-right: 2.28751%;
  margin-top: 1px;
}
input.smaller {
  width: 13.7143%;
  margin: 1.57% 1.857143% 0 0;
  padding: 2.571% 0 2.571% 2%;
}

input[type="file"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 66px;
  left: 0px;
  width: 190px;
  height: 190px;
  overflow: hidden;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  margin: 10px 0;
  padding: 0;
  background-color: #232323;
  border-radius: 1px;
  outline: none;
  border: none;
  z-index: 999;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #232323;
  box-shadow: 0 0 5px #7c7c7c;
  border: 2px solid white;
  z-index: 9999;
}

textarea {
  -webkit-appearance: none;
  width: 100%;
  background-color: white;
  border: 1px solid #dbdbdb;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin: 0;
  color: white;
  font-size: 16px;
}
textarea.personal-notes {
  margin: 20px 0 0 0;
  height: 202px;
}
textarea.directions {
  height: 163px;
  padding-top: 20px;
  padding-left: 13px;
  margin-top: 15px;
}

input[type="radio"] {
  margin: 0 10px 0 0;
  padding: 0px;
  outline: none;
}

/* #Media Queries
================================================== */
@media only screen and (min-width: 960px) {
  ul img {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
@media only screen and (min-width: 821px) and (max-width: 959px) {
  .global-container {
    margin-left: 8%;
  }

  .global-sidebar {
    width: 68px;
  }
  .global-sidebar ul {
    width: 100%;
    text-align: center;
  }
  .global-sidebar ul li {
    margin: 0 auto;
    padding: 0;
  }
  .global-sidebar ul h6 {
    display: none;
  }
  .global-sidebar ul img {
    display: visible;
    width: 75%;
    padding-top: 24px;
  }

  .mobile-nav {
    display: none;
  }

  .container {
    width: 90%;
    padding-left: 80px;
  }
  .container.read-recipe-page {
    width: 90%;
  }
  .container.create-recipe-page {
    width: 90%;
  }
}
@media only screen and (max-width: 820px) {
  .global-container {
    margin-left: 5%;
  }

  .recipe-row {
    width: 95%;
    margin: 0;
  }

  h4 {
    font-size: 28px;
  }

  .content {
    top: 75px;
  }

  .global-sidebar, .salutation, .navigation {
    display: none;
  }

  .logo {
    margin: -46px 18px 0 0;
    text-align: right;
  }

  .mobile-nav {
    display: visible;
    display: inline-block;
    text-align: left;
    margin: 20px 0px 0 20px;
  }

  .ss-rows {
    color: whitesmoke;
    font-size: 33px;
  }

  .container {
    width: 90%;
  }
  .container.read-recipe-page {
    width: 90%;
  }
  .container.create-recipe-page {
    width: 95%;
    padding-left: 5px;
  }

  .add-photo {
    width: 100%;
    padding: 31px 0;
    margin: -20px auto 2.08751% auto;
    float: none;
    display: block;
  }

  textarea.directions {
    margin-top: 2.08751%;
    padding: 2.08751% 0 0 2.08751%;
  }

  input {
    font-size: 17px;
    padding: 15px 0 15px 2.08751%;
  }
  input.xlarge {
    -webkit-appearance: none;
    padding: 15px 0 15px 2.08751%;
    margin-bottom: 2.08751%;
    width: 100%;
  }
  input.large {
    -webkit-appearance: none;
    width: 71.9%;
    margin-right: 2.08751%;
    display: inline-block;
  }
  input.medium {
    -webkit-appearance: none;
    width: 81%;
    margin: 2.08751% 0 0 0px;
  }
  input.smedium {
    -webkit-appearance: none;
    width: 100%;
  }
  input.small {
    -webkit-appearance: none;
    width: 48.95%;
    margin-right: 2.08751%;
    display: inline-block;
    margin-top: 2.08751%;
    margin-bottom: 2.08751%;
  }
  input.smaller {
    -webkit-appearance: none;
    width: 26%;
    margin-right: 2.08751%;
    padding: 15px 0 15px 0;
    text-align: center;
    margin-bottom: 2.08751%;
    display: inline-block;
  }
  input.omega {
    margin-right: 0;
  }

  form {
    text-align: left;
    width: 100%;
  }

  .add-remove-button {
    width: 15.857%;
    font-size: 14px;
    margin: 7px 0 6% 9px;
    padding: 14px 0 14px 0px;
    display: inline-block;
  }
  .add-remove-button .ss-plus, .add-remove-button .ss-hyphen {
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: white;
    position: relative;
    top: 3px;
  }

  .section-heading.step {
    margin-top: 37px;
  }
  .section-heading.p-notes {
    margin-top: 22px;
  }

  hr.step-heading {
    margin: -12px 0px 26px 0px;
  }
  hr.personal-notes {
    margin: -12px 0px 11px 0px;
  }

  .add-step-button, .save-button {
    width: 100%;
    margin: 10px auto;
  }

  .save-button {
    margin-top: 2.08751%;
  }

  /* ------------- */
  /*   Dropdowns   */
  /* ------------- */
  .chzn-container-single .chzn-single {
    padding: 16px 0 15px 0;
    font-size: 18px;
    line-height: 1;
    background-color: white;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  .chzn-container-single .chzn-single span {
    padding-left: 7px;
  }

  .recipe-type-dropdown {
    display: block;
    position: relative;
    width: 100%;
    top: -2px;
  }
  .recipe-type-dropdown .chzn-container {
    width: 100% !important;
    margin-top: 6px;
  }
  .recipe-type-dropdown .ss-navigatedown {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 27px;
    right: 40px;
    z-index: 100;
    font-size: 14px;
    pointer-events: none;
  }

  .temp-unit-wrap {
    position: relative;
    padding: 10px 15px;
  }
  .temp-unit-wrap .temp-unit-dropdown {
    position: absolute;
    width: 20%;
    right: 1px;
    top: -51px;
  }
  .temp-unit-wrap .temp-unit-dropdown .chzn-container {
    width: 100% !important;
    box-shadow: -2px 0px 1px rgba(0, 0, 0, 0.2);
  }
  .temp-unit-wrap .temp-unit-dropdown .chzn-container .chzn-single {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .temp-unit-wrap .temp-unit-dropdown .ss-navigatedown {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 20px;
    right: 25px;
    z-index: 100;
    font-size: 14px;
    pointer-events: none;
    color: white;
  }

  .unit-type-dropdown {
    display: inline-block;
    position: relative;
    width: 70.5%;
    top: -3px;
  }
  .unit-type-dropdown .chzn-container {
    width: 100% !important;
  }
  .unit-type-dropdown .ss-navigatedown {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 21px;
    right: 31px;
    z-index: 100;
    font-size: 14px;
    pointer-events: none;
    color: white;
  }

  /* ------------- */
  /* End Dropdowns */
  /* ------------- */
  p {
    font-size: 18px;
    display: block;
    margin: 29px 9px 7px 0;
    text-align: left;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
