/* _aside.scss */
@import 'variables';

aside {
	position: fixed;
	width: 190px;
	height: 100%;
	padding-top: 65px;
	background: $brand-color-2 url(/app/assets/images/chef-hat.svg) no-repeat center 15px;
	background-size: 20px auto; 
	box-shadow: 0px -700px 0 #E0E0E0;
	text-align: center;
	font-family: $serif;
	z-index: 50;

	hr {
		width: 45px;
		height: 1px;
		margin: 35px auto;
		background: $main-text;
	}

	li {
		width: 120px;
		font-size: 1.25em;
	}

	img {
		position: absolute;
		width: 40px;
		top: -52px;
		left: 050%;
		margin-left: -20px;
	}
}