//newrecipe.html button styles

button:hover {
  opacity: .5;
}

.add-step {
  height: 45px;
  width: 217px;
  border-radius: 4px;
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(244,244,244,1) 0%,
    rgba(234,234,234,1) 100%);
  border: 1px solid #bfbfbf;
  display: inline-block;
  margin: 0px 0 0px 483px;
}

.addremove {
  width: 58px;
  height: 48px;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(242,242,242,1) 0%,
    rgba(234,234,234,1) 100%);
  vertical-align: top;
  color: #585858;
}

.savebutton {
  height: 56px;
  width: 244px;
  border-radius: 4px;
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(170,170,170,1) 0%,
    rgba(145,145,145,1) 100%);
  border: 1px #8b8b8b;
  font-size: 16px;
  font-weight: normal;
  color: rgb(237, 237, 237);
  margin: 0px 0 0px 457px;
}

// end newrecipe.html button styles