//compass imports
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import 'variables';

button:hover {
  @include opacity(0.6);
}

.add-step-button {
  padding: 15px 0 13px 0;
  width: 217px;
  @include border-radius($border-radius);
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(244,244,244,1) 0%,
    rgba(234,234,234,1) 100%);
  border: 1px solid #bfbfbf;
  display: inline-block;
  margin: 6px 0 0px 483px;
  font-size: 18px;
  color: #585858;
}

.add-remove-button {
  width: 58px;
  font-size: 16px;
  margin: 10px 0 0 16px;
  padding: 15px 0 17px 0px;
  display: inline-block;
  @include border-radius($border-radius);
  border: 1px solid #bfbfbf;
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(242,242,242,1) 0%,
    rgba(234,234,234,1) 100%);
  vertical-align: top;
  color: #585858;
}

.save-button {
  width: 244px;
  padding: 20px 0 20px 0;
  @include border-radius($border-radius);
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(170,170,170,1) 0%,
    rgba(145,145,145,1) 100%);
  border: 1px #8b8b8b;
  font-size: 16px;
  font-weight: normal;
  color: rgb(237, 237, 237);
  margin: 0px 0 0px 457px;
  font-size: 18px;
}

.start-button {
  width: 175px;
  padding: 15px 0 15px 0;
  @include border-radius($border-radius);
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(170,170,170,1) 0%,
    rgba(145,145,145,1) 100%);
  border: 1px #8b8b8b;
  font-size: 16px;
  font-weight: normal;
  color: rgb(237, 237, 237);
  margin: 0px 0 0px 223px;
  font-size: 18px;
  text-align: center;
}

.adjust {
  width: 110px;
  height: 44px;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(242,242,242,1) 0%,
    rgba(234,234,234,1) 100%);
  vertical-align: top;
  color: #585858;
}

.add-photo {
  width: 188px;
  padding-top: 58px;
  padding-bottom: 48px;
  float: left;
  background: #bfbfbf;
  @include border-radius($border-radius);
  text-align: center;
  margin-right: 30px;

  .ss-plus {
    font-size: 32px;
    line-height: 54px;
    color: #585858;
  }

}