//compass imports
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";

button:hover {
  @include opacity(0.6);
}

.add-step-button {
  height: 45px;
  width: 217px;
  @include border-radius(5px);
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(244,244,244,1) 0%,
    rgba(234,234,234,1) 100%);
  border: 1px solid #bfbfbf;
  display: inline-block;
  margin: 0px 0 0px 483px;
}

.add-remove-button {
  width: 58px;
  height: 48px;
  margin: 0;
  padding: 0;
  display: inline-block;
  @include border-radius(5px);
  border: 1px solid #bfbfbf;
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(242,242,242,1) 0%,
    rgba(234,234,234,1) 100%);
  vertical-align: top;
  color: #585858;
}

.save-button {
  height: 56px;
  width: 244px;
  @include border-radius(5px);
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(170,170,170,1) 0%,
    rgba(145,145,145,1) 100%);
  border: 1px #8b8b8b;
  font-size: 16px;
  font-weight: normal;
  color: rgb(237, 237, 237);
  margin: 0px 0 0px 457px;
}