  _____      _                
 / ____|    | |               
| |     ___ | | ___  _ __ ___ 
| |    / _ \| |/ _ \| '__/ __|
| |___| (_) | | (_) | |  \__ \
 \_____\___/|_|\___/|_|  |___/  

 //Sorry, Tyler - I changed the names!

.slate { color: #232323; }
.slate-bg { background-color: #4F575C; }

.midnight { color: #254a5d; }
.midnight-bg { background-color: #254a5d; }

.aqua { color: #76c7a5; }
.aqua-bg { background-color: #76c7a5; }

.ivory { color: #f9f5eb; }
.ivory-bg { background-color: #f9f5eb; }

.marigold { color: #efb968; }
.marigold-bg { background-color: #efb968; }


