//compass imports
@import "compass/css3";
@import "compass/utilities";
@import 'variables';

// .wrapper {
//   position: absolute;
//   top: 98px;
//   width: 100%;
//   padding-bottom: 60px;
// }

.photo-content {
  position: relative;
  text-align: left;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

//see below for .container

.full-width {
  width: 100%;
  margin-top: 42px;
}

.full-width-photo {
  width: 100%;
  margin-top: 52px;
  text-align: center;
}

//margin classes apply spacing
.margin-top-36 {
  margin-top: 36px;
}

.margin-top-46 {
  margin-top: 46px;
}

.margin-top-28 {
  margin-top: 28px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-21 {
  margin-top: 21px;
}

.margin-top-16 {
  margin-top: 16px;
}

.yield-container {
  width: 100%;
  margin-top: 13px;
  margin-bottom: 28px;
  display: inline-block;
}

.yield-container p {
  font-size: 18px;
  display: inline-block;
  margin-right: 19px;
  font-family: $ff-head;
}

.main-recipe-input-area  {
  width: 480px;
  display: inline-block;
  margin-bottom: 15px;
}

.main-recipe-checkboxes {
  width: 480px;
  margin-top: 0px;
}

//nested styles in newrecipes.html
.container {
  position: relative;
  margin-left: 200px;
  top: 101px;
  text-align: left;
}

.recipe-details {
  width: 702px;
  margin: 0 auto; 
  text-align: center;
}
  
.summary {
  max-width: 700px;
  @include border-radius(5px);
  border: 1px solid #cccccc;
  margin-bottom: 36px;
  text-align: left;
}

.ingredients {
  max-width: 700px;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  margin-bottom: 36px;
  @include border-radius(5px);
  text-align: left;
}

.steps {
  max-width: 700px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  text-align: left;
}

.btnstart {
  margin-top: 35px;
}
