// newrecipe.html container styles
// to be figured out and merged with the andrew & rasheeda's styles
.container {
  width: 700px;
  margin: 0px auto;
  margin-top: 55px;
  padding: 0px;
}

.full-width {
  width: 100%;
  margin: 25px 0;
}

.yield-container {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 28px;
  display: inline-block;
}

.yield-container p {
  color: #585858;
  font-size: 18px;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 20px;
}

.main-recipe-input-area  {
  width: 480px;
  display: inline-block;
  margin-bottom: 15px;
}

.main-recipe-checkboxes {
  width: 480px;
  margin-top: 0px;
}

.main-recipe-checkboxes p {
  margin: 0;
  padding-right: 25px;
  color: #b1b1b1;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  display: inline-block;
}

.addphoto {
  width: 188px;
  padding: 77px 0;
  float: left;
  background: #bfbfbf;
  border-radius: 4px;
  text-align: center;
  margin-right: 30px;
}

// end newrecipe.html container styles