//compass imports
@import "compass/css3";
@import "compass/utilities";
@import 'variables';

.wrapper {
  position: absolute;
  top: 98px;
  width: 100%;
  padding-bottom: 60px;
}

//see below for container

.full-width {
  width: 100%;
  margin-top: 49px;
}

.full-width-photo {
  width: 100%;
  margin-top: 52px;
  text-align: center;
}

//margin classes
.margin-top-36 {
  margin-top: 36px;
}

.margin-top-46 {
  margin-top: 46px;
}

.margin-top-28 {
  margin-top: 28px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-21 {
  margin-top: 21px;
}

.margin-top-16 {
  margin-top: 16px;
}

.yield-container {
  width: 100%;
  margin-top: 13px;
  margin-bottom: 28px;
  display: inline-block;
}

.yield-container p {
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
}

.main-recipe-input-area  {
  width: 480px;
  display: inline-block;
  margin-bottom: 15px;
}

.main-recipe-checkboxes {
  width: 480px;
  margin-top: 0px;
}

.main-recipe-checkboxes p {
  margin: 0;
  padding-right: 25px;
  color: #b1b1b1;
  font-size: 15px;
  font-weight: lighter;
  display: inline-block;
}

//nested styles in newrecipes.html
.container {
  width: 700px;
  margin: 0px auto;
  padding: 0px;
  
  &.summary {
    margin-top: 24px;
    // @include border-radius(5px);
    border: 1px solid #cccccc;
  }

  &.ingredients {
    margin-top: 20px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
  }

  &.steps {
    margin-top: 40px;
    border: none;
  }

  &.btnstart {
    margin-top: 80px;
    border: none;
    float: right;
  }
}
