@import "compass/css3";

// newrecipe.html container styles
// to be figured out and merged with the andrew & rasheeda's styles
.container {
  //maybe do this?
  /* max-width: 700px;
  width: 100%; */
  width: 700px;
  margin: 0px auto;
  margin-top: 55px;
  padding: 0px;
}

.full-width {
  width: 100%;
  margin: 25px 0;
}

.yield-container {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 28px;
  display: inline-block;
}

.yield-container p {
  color: #585858;
  font-size: 18px;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 20px;
}

.main-recipe-input-area  {
  width: 480px;
  display: inline-block;
  margin-bottom: 15px;
}

.main-recipe-checkboxes {
  width: 480px;
  margin-top: 0px;
}

.main-recipe-checkboxes p {
  margin: 0;
  padding-right: 25px;
  color: #b1b1b1;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  display: inline-block;
}

.addphoto {
  width: 188px;
  padding: 77px 0;
  float: left;
  background: #bfbfbf;
  border-radius: 4px;
  text-align: center;
  margin-right: 30px;
}

// end newrecipe.html container styles



.container {
  // max-width: 700px;
  // width: 100%;
  // margin: 0 auto;
  

  &.summary {
    margin-top: 24px;
    // @include border-radius(5px);
    border: 1px solid #cccccc;
  }

  &.ingredients {
    margin-top: 20px;
    background-color: #f5f5f5;
/*     @include box-shadow(0 2px 2px 0 #d9d9d9);
 */    // @include border-radius(5px);
    border: 1px solid #cccccc;
  }

  &.steps {
    margin-top: 40px;
    border: none;
  }

  &.btnstart {
    margin-top: 80px;
    border: none;
  }
}
