/* _dashboard.scss */
@import 'variables';

.section-title {
	position: relative;
	margin-bottom: 16px;
	font: {
		family: $serif;
		size: 1.25em;
	}
	p {
		padding: 0 0px 0 8px;
		background: $background;
		vertical-align: middle;
		
		&.section-heading {
			padding: 0 8px 0 0px;
		}
		
		&.view-all { float: right; }

		span {
			margin-left: $icon-margin;
			font-size: 14px;
			line-height: 1.8;
		}
	}

	hr { 
		position: absolute;
		top: 42%;
		z-index: -1;
	}
}

.recipe-container {
	display: inline-block;
	width: 175px;
	margin: 0 29px 29px 0;
	text-align: center;
	&:last-child { margin: 0 0 29px 0; }
}

.recipe-box {
	width: 100%;
	height: 180px;
	border-radius: $border-radius;
	overflow: hidden;
	background: rgba(0,0,0,.5);

	img {
		width: auto;
		height: 100%;
	}
	
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}