.chzn-search {
  display: none;
}

.recipe-type-dropdown {
  display: inline-block;
  position: relative;
  margin-right: 13px;

  .chzn-container {
    width: 222px !important;
  }

  .ss-navigatedown {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 15px;
    right: 32px;
    z-index: 100;

    // avoid click events
    pointer-events: none;
    color: #585858;
  }
}

.holder{
  display: inline-block;
  position: relative;

  .temp-unit-dropdown {
    display: inline-block;
    position: absolute;
    margin-top: 2px;
    margin-left: -36px;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
    padding-top: 6px;
    border-radius: 0 5px 5px 0;
    top: -36px;
    

    .chzn-container {
      width: 63px !important;
    }

    .ss-navigatedown {
      position: absolute;
      width: 0px;
      height: 0px;
      top: 23px;
      right: 22px;
      z-index: 100;

      // avoid click events
      pointer-events: none;
      color: #585858;
    }
  }
}

.unit-type-dropdown {
  display: inline-block;
  position: relative;

  .chzn-container {
    width: 124px !important;
  }

  .ss-navigatedown { 
    background-color: red;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 15px;
    right: 32px;
    z-index: 100;

    // avoid click events
    pointer-events: none;
    color: #585858;
  }
}
