.chzn-search {
  display: none;
}

.recipe-type-dropdown {
  display: inline-block;

  .chzn-container {
    width: 200px !important;
  }
}

.temp-unit-dropdown {
  display: inline-block;

  .chzn-container {
    width: 63px !important;
  }
}

.unit-type-dropdown {
  display: inline-block;

  .chzn-container {
    width: 124px !important;
  }
}
