// ______          _       
// |  ___|        | |      
// | |_ ___  _ __ | |_ ___ 
// |  _/ _ \| '_ \| __/ __|
// | || (_) | | | | |_\__ \
// \_| \___/|_| |_|\__|___/
//                         
//---------------------
//
// Global Font Styles & Attachments
//
//---------------------

// DEFAULT-------------

$ff-head: 'Source Sans Pro',Helvetica,Arial,sans-serif;
$ff-body: 'Noticia Text',Georgia,'New Times Roman',serif;

@mixin large-heading-styles {
  color: $midnight;
  letter-spacing: -0.04em;
  font-family: $ff-head;
  font-weight: 200;
}

@mixin small-heading-styles {
  color: $midnight;
  font-family: $ff-body;
}


body {
  font-family: 'Noticia Text',Georgia,'New Times Roman',serif;
  color: $slate;
  font-size: 16px;
}

// HEADINGS Large-------------

h1 {
  font-size: 96px;
}

h2 {
  font-size: 70px;
  padding-bottom: 10px;
}

// HEADINGS Small-------------

h3 {
  font-size: 34px;
  padding-bottom: 14px;
  font-weight: normal;
}

h4 {
  font-size: 24px;
  padding-bottom: 14px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
  font-weight: 700;
}
