@import 'variables';

// ______          _       
// |  ___|        | |      
// | |_ ___  _ __ | |_ ___ 
// |  _/ _ \| '_ \| __/ __|
// | || (_) | | | | |_\__ \
// \_| \___/|_| |_|\__|___/
//                         
//---------------------
//
// Global Font Styles & Attachments
//
//---------------------

// IMPORT-------------

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200italic,|Noticia+Text:400,700,400italic,700italic);


// DEFAULTS-------------

body {
  font-family: $ff-body;
  color: $c-slate;
  font-size: 16px;
}

// HEADINGS Large-------------

h1, h2, h3, h4 {
  color: $c-midnight;
  letter-spacing: -0.04em;
  font-family: $ff-head;
  font-weight: 200;
  line-height: 1.3;
}

h2 {
  font-size: 96px;
}

h3 {
  font-size: 70px;
  padding-bottom: 10px;
}

h4 {
  font-size: 40px;
  padding-bottom: 14px;
  font-weight: 200;
  text-align: center;
}

// HEADINGS Small-------------

h5, h6 {
  color: $c-midnight;
  font-family: $ff-body;
  line-height: 1.3;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

.lighter {
  font-weight: lighter;
}

.labels {
  font-size: 14px;
  font-weight: 400;
  color: #c6c6c6;
  padding-top: 2px;
  padding-bottom: 4px;
  font-family: $ff-head;
}

.main-recipe-checkboxes p {
  margin: 0;
  padding-right: 25px;
  font-family: $ff-head;
  color: #b1b1b1;
  font-size: 15px;
  font-weight: 200;
  display: inline-block;
}