/* _header.scss */

header {
	width: 100%;
	height: 66px;
	margin: 0;
	padding: 9px 2.5% 0 2.5%;
	text-align: center;
	background: $brand-color-1;
	
	p, .logo, nav {
		display: inline-block;
		margin: 0;
	}

	.logo { font-size: 2em; font-weight: bold;	 }

	p, nav {
		position: absolute;
		top: 22px;
	}
	
	p { left: 2.5%; }
	
	nav {
		font-size: 1.25em;
		right: 2.5%;
		li {
			margin-left: 50px;
			-webkit-transition: 250ms all ease-in-out;
			&:hover, &:focus {
				-webkit-transform: translate3d(0,-1px,0);
			}
		}
	}
}