@import 'variables';

//  _   _                _           __  
// | | | |              | |       _  \ \ 
// | |_| | ___  __ _  __| |_ __  (_)  | |
// |  _  |/ _ \/ _` |/ _` | '__|      | |
// | | | |  __/ (_| | (_| | |     _   | |
// \_| |_/\___|\__,_|\__,_|_|    (_)  | |
//                                   /_/ 
//                                       
//---------------------
//
// Global Header Styles
//
//---------------------

header {
  width: 100%;
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c5c5c5;
  z-index: 9999;
  font-size: 24px;
  color: #909090;
  font-family: $ff-head;
  font-weight: light;
  font-style: italic;
}

.salutation {
  margin: 0;
  margin-top:20px;
  padding-left: 34px;
}

.logo {
  text-align: center;
  margin: 0 auto;
  margin-top: -35px;
  padding: 0;
}

.navigation {
  text-align: right;
  padding-right: 37px;
  margin-top: -39px;
}

.navigation ul {
  list-style: none;
  display: inline-block;
}

.navigation li {
  display: inline-block; 
  padding-left: 44px;
}

.navigation a {
  text-decoration: none;
  color: #909090;
}

.navigation a:hover {
  color: #585858;
}