@import "compass/css3";
@import 'variables';

// general input styles

::-webkit-input-placeholder {
   color: #585858;
}

input {
  display: inline-block;
  background-color: $input-bg;
  border-radius: $border-radius;
  border: $input-border;
  box-shadow: $input-boxshadow;
  @include box-sizing(border-box);
  color: #585858;
  font-size: $input-fontsize;
}

//this has no hyphen on purpose
textarea {
  -webkit-appearance: none;
  width: 700px;
  background-color: $input-bg;
  border: 1px solid #dbdbdb;
  box-shadow: $input-boxshadow;
  border-radius: 5px;
  @include box-sizing(border-box);
  margin:  0;
  color: #585858;
  font-size: 16px;

  &.personal-notes {
  margin: 20px 0 0 0;
  height: 202px;
  }

  &.directions {
  height: 163px;
  padding-top: 20px;
  padding-left: 13px;
  }
}

// checkboxes
input[type="checkbox"] {
  padding: 0px;
  margin: 0 10px 0 0;  
}

//different sized inputs
.input-xlarge {
  padding: 22px 0 22px 20px;
  margin-bottom: 16px;
  width: 478px;
  border: 0px;
  font-size: $input-fontsize;
}

.input-large {
  width: 410px;
  margin: 11px 0 0 0;
  padding: 18px 0 18px 16px; 
  font-size: $input-fontsize;
}

.input-medium {
  width: 383px;
  margin: 11px 0 0 0px;
  padding: 18px 0 18px 16px;
  font-size: $input-fontsize; 
}

.input-medium-small {
  width: 185px;
  margin: 1px 0 0 0;
  padding: 18px 0 18px 16px; 
  font-size: $input-fontsize;
}

.input-small {
  width: 124px;
  margin-right: 16px;
  padding: 18px 0 18px 16px; 
  margin-top: 1px;
  font-size: $input-fontsize;
}

.input-smaller {
  width: 96px;
  margin: 11px 13px 0 0;
  padding: 18px 0 18px 14px; 
  font-size: $input-fontsize;
}