//compass imports
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import 'variables';

//----------------------
//
// Clear Fix
//
//---------------------

.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

//----------------------
//
// Variables
//
//---------------------

$c-slate: #232323;
$c-midnight: #254a5d;
$c-aqua: #76c7a5;
$c-ivory: #f9f5eb;
$c-marigold: #efb968; //Great color name, Jen!

//----------GREYSCALE COLORS FOR HI-FI WIREFRAME

$c-lightgrey: #ededed;
$c-midgrey: #e0e0e0;
$c-darkgrey: #c5c5c5;
$c-darkestgrey: #b2b2b2;
$c-inputgrey: #585858;

$c-white: #fff;

$ff-head: 'Source Sans Pro',Helvetica,Arial,sans-serif;
$ff-body: 'Noticia Text',Georgia,'New Times Roman',serif;

$border-radius: 5px;

$input-bg: rgb(237, 237, 237);
$input-boxshadow: inset 0px 1px 2px rgba(0,0,0,.3);
$input-border: 0px;
$input-height: 50px;
$input-width: 700px;
$input-fontsize: 17px;

//----------------------
//
// Colors
//
//---------------------


.slate { color: $c-slate; }
.slate-bg { background-color: $c-slate; }

.midnight { color: $c-midnight; }
.midnight-bg { background-color: $c-midnight; }

.aqua { color: $c-aqua; }
.aqua-bg { background-color: $c-aqua; }

.ivory { color: $c-ivory; }
.ivory-bg { background-color: $c-ivory; }

.marigold { color: $c-marigold; }
.marigold-bg { background-color: $c-marigold; }

//---------------------------------
//
// Global Font Styles & Attachments
//
//---------------------------------

// IMPORT-------------

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200italic,|Noticia+Text:400,700,400italic,700italic);


// DEFAULTS-------------

body {
  font-family: $ff-body;
  color: $c-slate;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p {
    font-size: 18px;
    display: inline-block;
    margin: 40px 19px 52px 0;
    font-family: $ff-head;
}

// HEADINGS Large-------------

h1, h2, h3, h4 {
  color: $c-midnight;
  letter-spacing: -0.04em;
  font-family: $ff-head;
  font-weight: 200;
  line-height: 1.3;
}

h2 {
  font-size: 96px;
}

h3 {
  font-size: 70px;
  padding-bottom: 10px;
}

h4 {
  font-size: 40px;
  padding-bottom: 14px;
}

// HEADINGS Small-------------

h5, h6 {
  color: $c-slate;
  font-family: $ff-body;
  line-height: 1.3;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  font-weight: 400;
}
/* Detail titles in .glance-box */
.labels {
  font-size: 14px;
  font-weight: 400;
  color: $c-darkgrey;
  padding-top: 2px;
  padding-bottom: 4px;
  font-family: $ff-head;
}

//--------
//
// Sidebar
//
//--------

//fix to make the sidebar extend full page length
.global-sidebar {
  position: fixed;
  width: 200px;
  top: 68px;
  bottom: 0;
  background-color: $c-lightgrey;
  color: $c-darkgrey;
  z-index: 9998;


  ul.text, ul.icons {
    width: 120px;
    margin: 0 auto;
    margin-top: 10px;

  li {
    list-style: none;
    padding: 25px 0 0 0;
    text-align: center;
    margin: auto;
    color: $c-slate;


    &:after {
      content: "";
      display: block;
      width: 50px;
      padding: 25px 0 0 0;
      border-bottom: 1px solid $c-midgrey;
      margin: auto;
    }

    &:last-child:after {
      border-bottom: none;
    }

    a {
      text-decoration: none;
      color: $c-midnight;
    }

    &:hover {
     @include opacity(0.6);
    }

    }
  }

  ul.icons {
    width: 68px;
  
    img {
      text-align: center;
      margin: 0 auto;
      padding: 0;
    }
  }
}
                                
//---------------------
//
// Global Header Styles
//
//---------------------

header {
  width: 100%;
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $c-darkgrey;
  z-index: 9999;
  font-size: 24px;
  color: $c-slate;
  font-family: $ff-head;
  font-weight: 200;
  font-style: italic;
}

.salutation {
  margin: 0;
  margin-top:20px;
  padding-left: 34px;
}

.logo {
  text-align: center;
  margin: 0 auto;
  margin-top: -35px;
  padding: 0;
}

.navigation {
  text-align: right;
  padding-right: 37px;
  margin-top: -39px;

  ul {
    list-style: none;
    display: inline-block;
  }

  li {
    display: inline-block; 
    padding-left: 44px;
  }

  a {
    text-decoration: none;
    color: #909090;
  }

  a:hover {
    color: $c-inputgrey;
  }
}

//---------------------
//
// Page Container Styles
//
//---------------------

.global-container {
  position: relative;
  width: auto;
  margin-left: 200px;
  margin-top: 68px;
  text-align: center;
}

//---------------------
//
// Containers
//
//---------------------

.container {
  width: 100%;
  text-align: left;
  margin: 0 auto 0 auto;
  // padding-left: 200px;

  &.read-recipe-page {
    max-width: 809px;
  }

  &.create-recipe-page {
    max-width: 700px;
  }
}

.content {
  position: relative;
  top: 101px;
}

.full-width-photo {
  width: 100%;
  max-width: 809px;
  margin-top: 52px;
  text-align: center;
}

form  {
  width: 68.57143%;
  display: inline-block;
  margin-bottom: 50px;

  p {
    margin: 0;
    padding-right: 25px;
    font-family: $ff-head;
    color: $c-darkestgrey;
    font-size: 15px;
    font-weight: 200;
    display: inline-block;
  }
}

.main-recipe-checkboxes {
  width: 480px;
  margin-top: 0px;
}

.recipe-details {
  max-width: 702px;
  width: 90%;
  margin: 0 auto; 
  text-align: center;
}
  
.summary {
  max-width: 700px;
  @include border-radius(5px);
  border: 1px solid #cccccc;
  margin-bottom: 36px;
  text-align: left;
}

.ingredients {
  max-width: 700px;
  background-color: $c-lightgrey;
  border: 1px solid $c-darkgrey;
  margin-bottom: 36px;
  @include border-radius(5px);
  text-align: left;
}

.steps {
  max-width: 700px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  text-align: left;
}

//----------------------
//
// Dashboard
//
//---------------------

.recipe-row {
  width: 90%;
  max-width: 1062px;
  padding: 33px 0;
  margin: 0 auto;
  // border: 1px solid red;
}

.my-recipes-row, .public-recipes-row, .popular-recipes-row, .favorite-recipes-row, .my-pantry-row {
  // background-color: $c-slate;
  width: 100%;
  text-align: left;
  height: 90%;
}

.recipe-grid-container {
  width: 190px;
  height: 220px;
  display: inline-block;
  margin-right: 4.2857143%;
  text-align: center;
  // border: 1px solid darken(blue, 20%);
}

.grid-item {
  width: 100%;
  height: 190px;
  margin-bottom: 5px;
  display: block;
  background-color: blue;
}

.view-all {
  width: 85px;
  float: right;
  margin: 0;
  margin-top: -67px;
  background-color: white;
  padding-left: 10px;

  h6 {
    display: inline-block;
  }
}

.ss-navigateright {
  display: inline-block;
  padding-left: 10px;
  font-size: 12px;
}


//----------------------
//
// Images
//
//---------------------

.cover-photo {
  max-width: 809px;
  width: 90%;
  max-height: 403px;
  height: 30%;
  padding: 0;
  background-color: $c-darkgrey;
  margin: 26px auto 32px auto;
  text-align: center;
  @include border-radius(5px);
  overflow: hidden;

  img {
    width: 100%;
  }
}

.preview-recipe-photo {
  width: 800px;
  height: 400px; 
  @include border-radius($border-radius);
}

.section-heading {
  text-align: left;
  display: inline-block;
  padding-right: 10px;
  background-color: #fff;
}

hr {
  width: 100%;
  // max-width: 700px;
  border: none;
  border-top: 1px solid #b0b0b0;
  margin-top: -12px;
  margin-bottom: 52px;

  &.step-heading {
    margin: -12px 0px 25px 0px;
  }

  &.personal-notes {
    margin: -12px 0px 17px 0px;
  } 
}

.steps-content {
  width: 460px;
  line-height: 20px;
  padding: 24px 20px 24px 0;
  vertical-align: top;
  display: inline-block;
}

//-------------------------
//
// Recipe Preview Specifics
//
//-------------------------

.big-ass-recipe-title {
  text-align: center;
  margin-top: 19px;
}

.byline {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-family: $ff-head;
  font-weight: 200;
  color: $c-inputgrey;
  margin-top: -7px;
}

/* ----------------------------------- */
/*   recipe instructions at a glance   */
/* ----------------------------------- */

.glance-box {
  width: 154px;
  padding: 16px 0 14px 20px;
  border-right: 1px solid $c-darkgrey;
  display: inline-block;

  span, small {
    font-size: 32px;
    color: $c-inputgrey;
    font-family: $ff-head;
    font-weight: 200;
    letter-spacing: 1px;
  }

  small {
    font-size: 23px;
  }

  &.glance-box:last-child {
  border: none;
  }
}  

.glance-title {
  text-align: left;
}

//--------------------------
//
// Recipe Ingredient Details
//
//--------------------------

.recipe-box {
  background-color: $c-lightgrey;
  @include border-radius(5px 5px 0 0);
}

.recipe-title {
  text-align: left;
  padding: 18px 0 18px 20px;
  
  span {
    font-size: 24px;
    font-weight: 400;
    font-family: $ff-head;
    padding: 0;
  }
  
  button.adjust {
    float: right;
    margin-top: -10px;
    margin-right: 10px;
  }
}

//--------------------------
//
// Ingredients Panel
//
//--------------------------

.ingredient-panel {
  width: 122px;
  padding: 22px 10px 18px 0;
  text-align: right;
  border-top: 1px solid $c-darkgrey;
  display: inline-block;
  border-right: 1px solid $c-darkgrey;
  background-color: $c-lightgrey;


  &:last-child {
    @include border-radius(0 0 0 5px);
  }

  span {
    font-size: 24px;
    font-weight: 400;
    font-family: $ff-head;
    padding: 0;
  }
}  

.ingredient-line {
  width: 547px;
  padding: 22px 9px 18px 10px;
  border-top: 1px solid $c-darkgrey;
  display: inline-block;
  background-color: $c-lightgrey;

  span {
    font-size: 24px;
    font-weight: 200;
    font-family: $ff-head;
    padding: 0;
  }

  &:last-child {
    @include border-radius(0px 0 5px 0px);
  }
}

.steps-content, .notes-content {
  width: 460px;
  line-height: 20px;
  padding: 24px 20px 24px 0;
  vertical-align: top;
  display: inline-block;
  font-family: $ff-head;
  line-height: 29px;

  &.notes-content {
    width: 700px;
  }
}

table.steps {
  width: 200px;
  display: inline-block;
  float: right;
  margin-top: 18px;
  font-family: $ff-head;

  td.left {
    width: 80px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 14px 15px 18px 0;
    text-align: right;
    font-weight: bolder;
  }

  td.right {
    width: 140px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left; 
    font-weight: lighter;
  } 

  td.last {
  border-bottom: none;
  }
}

.btnstart.edit {
  text-align: right;
  float: right;
  font-family: $ff-head;
  font-weight: 400;
  color: $c-darkestgrey;
  margin-top: 19px;
}

//--------------------------
//
// Buttons
//
//--------------------------

button:hover {
  @include opacity(0.6);
}

.add-step-button {
  padding: 15px 0 13px 0;
  width: 31%;
  @include border-radius($border-radius);
  background-color: $c-lightgrey;
  @include background(linear-gradient(top,rgb(235,235,235),rgb(210,210,210)));
  border: 1px solid #a3a3a3;
  display: inline-block;
  margin: 19px 0 21px 483px;
  font-size: 18px;
  color: $c-inputgrey;
}

.add-remove-button {
  width: 8.2857%;
  font-size: 17px;
  margin: 12px 0 0 13px;
  padding: 15px 0 15px 0px;
  display: inline-block;
  @include border-radius($border-radius);
  border: 1px solid $c-darkgrey;
  background-color: $c-midgrey; /* Old browsers */
  @include background(linear-gradient(top, $c-white, $c-midgrey));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$c-midgrey',GradientType=0 ); /* IE6-9 */
  vertical-align: top;
  color: $c-inputgrey;

  .ss-plus, .ss-hyphen {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: $c-inputgrey;
    position: relative;
    top: 3px;
    }
  }

.save-button {
  width: 34.57143%;
  padding: 15px 0 16px 0;
  @include border-radius($border-radius);
  @include background(linear-gradient(top, rgb(157,157,157), rgb(120,120,120)));
  background-color: $c-darkestgrey;
  border: 1px solid #5a5a5a;
  font-size: 16px;
  font-weight: normal;
  color: white;
  margin: 34px 0 0px 457px;
  font-size: 18px;
}

.start-button {
  width: 24.57143%;
  padding: 17px 0;
  float: right;
  margin: -4px 0px 50px 18px;
  @include border-radius($border-radius);
  @include background(linear-gradient(top, #787878, #9d9d9d));
  border: 1px solid #5a5a5a;
  font-size: 17px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.adjust {
  width: 110px;
  height: 44px;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  background: linear-gradient(to bottom, 
    rgba(30,87,153,1) 0%,
    rgba(242,242,242,1) 0%,
    rgba(234,234,234,1) 100%);
  vertical-align: top;
  font-size: 17px;
  color: $c-inputgrey;
}

.add-photo {
  width: 190px;
  padding: 54px 0;
  float: left;
  background: $c-darkestgrey;
  @include border-radius($border-radius);
  text-align: center;
  margin-right: 4.2857143%;
  vertical-align: top;

  .ss-plus {
    font-size: 32px;
    line-height: 54px;
    color: $c-inputgrey;
  }
}

//--------------------------
//
// Dropdowns
//
//--------------------------

.chzn-search {
  display: none;
}

.chzn-container-single .chzn-single {
  background-color: $input-bg;
  @include border-radius(5px);
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}

.recipe-type-dropdown {
  display: inline-block;
  position: relative;
  margin-right: 1.857143%;

  .chzn-container {
    width: 222px !important;    
  }

  .ss-navigatedown {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 24px;
    right: 38px;
    z-index: 100;

    // avoid click events
    pointer-events: none;
    color: $c-inputgrey;
  }
}

.temp-unit-wrap {
  position: relative;

  .temp-unit-dropdown {
    position: absolute;
    right: 2px;
    top: -55px;
    line-height: .8;

    .chzn-container {
      width: 63px !important;
      border-radius: 0 5px 5px 0;
      box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
    }

    .ss-navigatedown {
      position: absolute;
      width: 0px;
      height: 0px;
      top: 23px;
      right: 22px;
      z-index: 100;

      // avoid click events
      pointer-events: none;
      color: $c-inputgrey;
    }
  }
}

.unit-type-dropdown {
  display: inline-block;
  position: relative;
  margin-right: 1.857143%;
  top: 1px;

  .chzn-container {
    width: 124px !important;
  }

  .ss-navigatedown { 
    position: absolute;
    width: 0px;
    height: 0px;
    top: 24px;
    right: 31px;
    z-index: 100;

    // avoid click events
    pointer-events: none;
    color: $c-inputgrey;
  }
}

//--------------------------
//
// Inputs
//
//--------------------------

::-webkit-input-placeholder {
  color: $c-inputgrey;
}

input {
  display: inline-block;
  background-color: $input-bg;
  border-radius: $border-radius;
  border: $input-border;
  box-shadow: $input-boxshadow;
  @include box-sizing(border-box);
  color: $c-inputgrey;
  font-size: $input-fontsize;
  padding: 2.571% 0 2.571% 16px;

  &.xlarge {
    padding: 3.14% 0 3.14% 2.857%;
    margin-bottom: 16px;
    width: 68.2857%;
  }

  &.large {
    width: 59%;
    margin: 1.57% 0 0 0; 
  }

  &.medium {
    width: 54.7143%;
    margin: 1.57% 0 0 0px; 
  }

  &.smedium {
    width: 26.42857%;
    margin-top: 1px;
  }

  &.small {
    width: 17.7143%;
    margin-right: 2.28751%; 
    margin-top: 1px;
  }

  &.smaller {
    width: 13.7143%;
    margin: 1.57% 1.857143% 0 0;
    padding: 2.571% 0 2.571% 2%; 
  }
}

textarea {
  -webkit-appearance: none;
  width: 100%;
  background-color: $input-bg;
  border: 1px solid #dbdbdb;
  box-shadow: $input-boxshadow;
  border-radius: 5px;
  @include box-sizing(border-box);
  margin:  0;
  color: $c-inputgrey;
  font-size: 16px;

  &.personal-notes {
  margin: 20px 0 0 0;
  height: 202px;
  }

  &.directions {
  height: 163px;
  padding-top: 20px;
  padding-left: 13px;
  margin-top: 15px;
  }
}

input[type="checkbox"] {
  padding: 0px;
  margin: 0 10px 0 0;
}

/* #Media Queries
================================================== */
 
  
  @media only screen and (min-width: 960px) {
    ul.icons {
      display: none;
      margin: 0 auto;
    }

    .mobile-nav {
      display: none;
    }
  }
 
  
  @media only screen and (min-width: 821px) and (max-width: 959px) {
    .global-sidebar {
      width: 68px;
    }

    .mobile-nav {
      display: none;
    }

    ul.text {
      display: none;
    }

    ul.icons {
      display: visible;

      img {
        width: 50%;
      }
    }

    .container {
      width: 90%;
      padding-left: 80px;

      &.read-recipe-page {
        width: 90%;
      }

      &.create-recipe-page {
        width: 90%;
      }
    }
  }
  
  @media only screen and (max-width: 820px) {

    h4 {
      font-size: 28px;
    }

    .content {
      top: 75px;
    }

    .global-sidebar, .salutation, .navigation {
      display: none;
    }

    .logo {
      margin: -46px 18px 0 0;
      text-align: right;  
    }

    .mobile-nav {
      display: visible;
      display: inline-block;
      text-align: left;
      margin: 20px 0px 0 20px;
    }

    .ss-rows {
      color: $c-white;      
      font-size: 33px;
    }

    .container {
      width: 90%;

      &.read-recipe-page {
        width: 90%;
      }

      &.create-recipe-page {
        width: 90%;
        padding-left: 5px;
      }
    }

    .add-photo {
      width: 100%;
      padding: 31px 0;
      margin: -20px auto 2.08751% auto;
      float: none;
      display: block;
    }

    textarea {
      &.directions {
        margin-top: 2.08751%;
        padding: 2.08751% 0 0 2.08751%;
      }
    }

    input {
      font-size: $input-fontsize;
      padding: 15px 0 15px 2.08751%;

      &.xlarge {
        -webkit-appearance: none; // Very important so iOS shows inset box-shadows
        padding: 15px 0 15px 2.08751%;
        margin-bottom: 2.08751%;
        width: 100%;
      }

      &.large {
        -webkit-appearance: none;
        width: 71.9%;
        margin-right: 2.08751%;
        display: inline-block;
      }

      &.medium {
        -webkit-appearance: none;
        width: 81%;
        margin: 2.08751% 0 0 0px; 
      }

      &.smedium {
        -webkit-appearance: none;
        width: 100%;
      }

      &.small {
        -webkit-appearance: none;
        width: 48.95%;
        margin-right: 2.08751%; 
        display: inline-block;
        margin-top: 2.08751%;
        margin-bottom: 2.08751%;
      }

      &.smaller {
        -webkit-appearance: none;
        width: 26%;
        margin-right: 2.08751%; 
        padding: 15px 0 15px 0;
        text-align: center;
        margin-bottom: 2.08751%;
        display: inline-block;
      }

      &.omega { margin-right: 0; }
    }

    form {
      text-align: left;
      width: 100%;
    }

    .add-remove-button {
      width: 15.857%;
      font-size: 14px;
      margin: 7px 0 6% 9px;
      padding: 14px 0 14px 0px;
      display: inline-block;

      .ss-plus, .ss-hyphen {
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        color: $c-inputgrey;
        position: relative;
        top: 3px;
        }
    }

    .section-heading {
      &.step {
        margin-top: 37px;
      }

      &.p-notes {
        margin-top: 22px;
      }
    }

    hr {

      &.step-heading {
        margin: -12px 0px 26px 0px;
      }

      &.personal-notes {
        margin: -12px 0px 11px 0px;
      } 
    }

    .add-step-button, .save-button {
      width: 100%;
      margin: 10px auto;
    }

    .save-button {
      margin-top: 2.08751%;
    }
    
    /* ------------- */
    /*   Dropdowns   */
    /* ------------- */
    
    .chzn-container-single .chzn-single {
      padding: 16px 0 15px 0;
      font-size: 18px;
      line-height: 1;
      background-color: $input-bg;
      @include border-radius(5px);
      -moz-background-clip   : padding;
      -webkit-background-clip: padding-box;
      background-clip        : padding-box;
    }

    .chzn-container-single .chzn-single span { padding-left: 7px; }

    .recipe-type-dropdown {
      display: block;
      position: relative;
      width: 100%;
      top: -2px;

      .chzn-container {
        width: 100% !important;
        margin-top: 6px; 
      }

      .ss-navigatedown {
        position: absolute;
        width: 0px;
        height: 0px;
        top: 27px;
        right: 40px;
        z-index: 100;
        font-size: 14px;

        // avoid click events
        pointer-events: none;
        color: $c-inputgrey;
      }
    }

    .temp-unit-wrap {
      position: relative;
      width: 100%;
      float: right;
      top: -1px;
      right: 1px;

      .temp-unit-dropdown {
        position: absolute;
        width: 20%;
        right: 1px;
        top: -51px;

        .chzn-container {
          width: 100% !important;
          box-shadow: -2px 0px 1px rgba(0,0,0,.2);
        }

        .chzn-container .chzn-single {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;          
        }

        .ss-navigatedown {
          position: absolute;
          width: 0px;
          height: 0px;
          top: 20px;
          right: 25px;
          z-index: 100;
          font-size: 14px;

          // avoid click events
          pointer-events: none;
          color: $c-inputgrey;
        }
      }
  }

    .unit-type-dropdown {
      display: inline-block;
      position: relative;
      width: 70.5%;
      top: -3px;


      .chzn-container {
        width: 100% !important;
      }

      .ss-navigatedown { 
        position: absolute;
        width: 0px;
        height: 0px;
        top: 21px;
        right: 31px;
        z-index: 100;
        font-size: 14px;

        // avoid click events
        pointer-events: none;
        color: $c-inputgrey;
      }
    }


    /* ------------- */
    /* End Dropdowns */
    /* ------------- */


    p {
        font-size: 18px;
        display: block;
        margin: 29px 9px 7px 0;
        text-align: left;
        font-family: $ff-head;
    }
  }
 
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 399px) {}