@import 'variables';
//these are the styles that make the horizontal 
//line work alongside the header
.steps-title {
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  padding-right: 10px;
  background-color: #fff;
  margin-bottom: -11px;
  margin-top: -23px;
  padding-top: 38px;
} 

hr {
  border: none;
  border-top: 1px solid #b0b0b0;
  margin-top: -14px;
}

.steps-content {
  width: 460px;
  line-height: 20px;
  padding: 24px 20px 24px 0;
  vertical-align: top;
  display: inline-block;
}