@import 'variables';
//these are the styles that make the horizontal 
//line work alongside the header
.steps-title {
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  padding-right: 10px;
  background-color: #fff;
  margin-top: 16px;
}

.view-all {
  font-size: 16px;
  font-family: $ff-body;
  text-align: right;
  background-color: #fff;
  display: inline-block;
  top: -19px;
  position: relative;
  margin-left: 968px;
  padding-left: 16px;

  .ss-navigateright {
    font-size: 12px;
    display: inline-block;
    top: -20px;
    padding-left: 5px;
  }
}

hr {
  border: none;
  border-top: 1px solid #b0b0b0;
  margin-top: -12px;
}

.steps-content {
  width: 460px;
  line-height: 20px;
  padding: 24px 20px 24px 0;
  vertical-align: top;
  display: inline-block;
}