@import "compass/css3";

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

/* containers */
.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  @include border-radius(5px);

  &.summary {
    margin-top: 24px;
    height: 80px;
  }

  &.ingredients {
    margin-top: 20px;
    background-color: #f5f5f5;
    @include box-shadow(0 2px 2px 0 #d9d9d9);
  }

  &.steps {
    margin-top: 40px;
    border: none;
  }

  &.button {
    margin-top: 80px;
    border: none;
  }
}


.center {
  text-align: center;
}

.headerspace {
  margin-top: 64px
}

.authorspace {
  margin-top: 14px;
  margin-bottom:24px;
}

/* ______________________________________ */

/* recipe instructions at a glance */
/* ______________________________________ */

.glance-box {
  width: 154px;
  height: 56px;
  padding: 12px 0 12px 20px;
  border-right: 1px solid #cccccc;
  display: inline-block;

  &.glance-box:last-child {
  border: none;
  }
}  

.glance-title {
  font-weight: lighter;
  text-align: left;
  margin-bottom: 6px;
  
}


/* ______________________________________ */

/* recipe box */
/* ______________________________________ */

.recipe-box {
  background-color: #ededed;
  height: 46px;
  @include border-radius(5px 5px 0 0);
}

.recipe-title {
  font-weight: lighter;
  text-align: left;
  padding: 14px 0 12px 20px;
}

/* ______________________________________ */

/* ingredients panel */
/* ______________________________________ */

.ingredient-panel {
  width: 112px;
  height: 36px;
  padding: 18px 12px 0 0;
  text-align: right;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  background-color: #fafafa;
  display: inline-block;

  &.ingredient-panel:last-child {
  @include border-radius(0 0 5px 0);
  }
}  

.ingredient-line {
  width: 563px;
  height: 36px;
  padding: 18px 0 0 12px;
  background-color: #fafafa;
  border-top: 1px solid #cccccc;
  display: inline-block;
  font-weight: lighter;

  &.ingredient-line:last-child {
  @include border-radius(0 0 0 5px);
  }
}

.steps-title {
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  padding-right: 10px;
  background-color: #fff;
}

hr {
  border: none;
  border-top: 1px solid #b0b0b0;
  margin-top: -10px;
}

.steps-content {
  width: 460px;
  line-height: 20px;
  padding: 24px 20px 24px 0;
  vertical-align: top;
  display: inline-block;
}

table.steps {
  width: 200px;
  display: inline-block;
  float: right;
  margin-top: 18px;

  td.left {
    width: 70px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 12px 15px 12px 0;
    text-align: right;
    font-weight: bolder;
  }

  td.right {
    width: 150px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left; 
  } 

  td.last {
  border-bottom: none;
  }
}

button.start {
  height: 50px;
  width: 170px;
  display: inline-block;
  font-weight: lighter;
  margin: 14px 0 0 405px;
  float: right;
}




