@import "compass/css3";
@import "variables";
@import "containers";

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

//semi container classes
.summary {
  margin-top: 24px;
}

.ingredients {
  margin-top: 20px;
  background-color: #f5f5f5;
  @include box-shadow(0 2px 2px 0 #d9d9d9);
}

.steps {
  margin-top: 40px;
  border: none;
} 

.btnstart {
  margin-top: 18px;
  border: none;
}


.center {
  text-align: center;
}

.headerspace {
  margin-top: 64px
}

.authorspace {
  margin-top: 14px;
  margin-bottom:24px;
}

/* ______________________________________ */

/* recipe instructions at a glance */
/* ______________________________________ */

.glance-box {
  width: 154px;
  padding: 16px 0 14px 20px;
  border-right: 1px solid #cccccc;
  display: inline-block;

  span {
    font-size: 32px;
    color: $c-slate;
    font-family: $ff-head;
    font-weight: 200;
  }

  &.glance-box:last-child {
  border: none;
  }

}  

.glance-title {
  text-align: left;

}


/* ______________________________________ */

/* recipe box */
/* ______________________________________ */

.recipe-box {
  background-color: #ededed;
  @include border-radius(5px 5px 0 0);
}

.recipe-title {
  text-align: left;
  padding: 18px 0 18px 20px;
  
  span {
    font-size: 24px;
  }
  
  button.adjust {
    float: right;
    margin-top: -10px;
    margin-right: 10px;
  }
}

/* ______________________________________ */

/* ingredients panel */
/* ______________________________________ */

.ingredient-panel {
  width: 122px;
  padding: 22px 10px 18px 0;
  text-align: right;
  border-top: 1px solid #cccccc;
  display: inline-block;
  border-right: 1px solid #cccccc;


  &:last-child {
    @include border-radius(0 0 0 5px);
  }

  span {
    font-size: 24px;
    font-weight: 700;
    font-family: $ff-head;
    padding: 0;
  }
}  

.ingredient-line {
  width: 547px;
  padding: 22px 10px 18px 10px;
  border-top: 1px solid #cccccc;
  display: inline-block;

  span {
    font-size: 24px;
    font-weight: 200;
    font-family: $ff-head;
    padding: 0;
  }

  &:last-child {
    @include border-radius(0px 0 5px 0px);
  }
}

//  _______  _______  _______  _______  _______ 
// |  _____||_     _||    ___||    _  ||  _____|
// | |_____   |   |  |   |___ |   |_| || |_____ 
// |_____  |  |   |  |    ___||    ___||_____  |
//  _____| |  |   |  |   |___ |   |     _____| |
// |_______|  |___|  |_______||___|    |_______|

.steps-title {
  text-align: left;
  display: inline-block;
  padding-right: 10px;
  background-color: #fff;

  span {
    font-family: $ff-body;
    font-weight: 400;
    font-size: 24px;
  }
}

hr {
  border: none;
  border-top: 1px solid #b0b0b0;
  margin-top: -11px;
}

.steps-content {
  width: 460px;
  line-height: 20px;
  padding: 24px 20px 24px 0;
  vertical-align: top;
  display: inline-block;
  font-family: $ff-head;
  line-height: 29px;
}

table.steps {
  width: 200px;
  display: inline-block;
  float: right;
  margin-top: 18px;
  font-family: $ff-head;

  td.left {
    width: 80px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 14px 15px 18px 0;
    text-align: right;
    font-weight: bolder;
  }

  td.right {
    width: 140px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left; 
    font-weight: lighter;

  } 

  td.last {
  border-bottom: none;
  }
}

button.savebutton {
  height: 50px;
  width: 170px;
  display: inline-block;
  font-weight: lighter;
  margin: 0px 0 0 0;
  float: right;
}

.btnstart.edit {
  text-align: right;
  padding-right: 22px;
  float: right;
  display: inline-block;

  span { 
  font-family: $ff-head;
  font-weight: bold;
  }
}