@import "compass/css3";
@import "variables";
@import "containers";

.btnstart {
  margin-top: 18px;
  border: none;
}

.big-ass-recipe-title {
  text-align: center;
  margin-top: 19px;
}

.byline {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-family: $ff-head;
  font-weight: 200;
  color: $c-inputgrey;
  margin-top: -7px;
}

/* ----------------------------------- */
/*   recipe instructions at a glance   */
/* ----------------------------------- */

.glance-box {
  width: 154px;
  padding: 16px 0 14px 20px;
  border-right: 1px solid $c-darkgrey;
  display: inline-block;

  span, small {
    font-size: 32px;
    color: $c-inputgrey;
    font-family: $ff-head;
    font-weight: 200;
    letter-spacing: 1px;
  }

  small {
    font-size: 23px;
  }

  &.glance-box:last-child {
  border: none;
  }
}  

.glance-title {
  text-align: left;
}

/* ----------------------------------- */
/* recipe box */
/* ----------------------------------- */

.recipe-box {
  background-color: $c-lightgrey;
  @include border-radius(5px 5px 0 0);
}

.recipe-title {
  text-align: left;
  padding: 18px 0 18px 20px;
  
  span {
    font-size: 24px;
    font-weight: 400;
    font-family: $ff-head;
    padding: 0;
  }
  
  button.adjust {
    float: right;
    margin-top: -10px;
    margin-right: 10px;
  }
}

/* ----------------------------------- */
/* ingredients panel */
/* ----------------------------------- */

.ingredient-panel {
  width: 122px;
  padding: 22px 10px 18px 0;
  text-align: right;
  border-top: 1px solid $c-darkgrey;
  display: inline-block;
  border-right: 1px solid $c-darkgrey;
  background-color: $c-lightgrey;


  &:last-child {
    @include border-radius(0 0 0 5px);
  }

  span {
    font-size: 24px;
    font-weight: 400;
    font-family: $ff-head;
    padding: 0;
  }
}  

.ingredient-line {
  width: 547px;
  padding: 22px 10px 18px 10px;
  border-top: 1px solid $c-darkgrey;
  display: inline-block;
  background-color: $c-lightgrey;

  span {
    font-size: 24px;
    font-weight: 200;
    font-family: $ff-head;
    padding: 0;
  }

  &:last-child {
    @include border-radius(0px 0 5px 0px);
  }
}

//  _______  _______  _______  _______  _______ 
// |  _____||_     _||    ___||    _  ||  _____|
// | |_____   |   |  |   |___ |   |_| || |_____ 
// |_____  |  |   |  |    ___||    ___||_____  |
//  _____| |  |   |  |   |___ |   |     _____| |
// |_______|  |___|  |_______||___|    |_______|



.steps-content, .notes-content {
  width: 460px;
  line-height: 20px;
  padding: 24px 20px 24px 0;
  vertical-align: top;
  display: inline-block;
  font-family: $ff-head;
  line-height: 29px;

  &.notes-content {
    width: 700px;
  }
}

table.steps {
  width: 200px;
  display: inline-block;
  float: right;
  margin-top: 18px;
  font-family: $ff-head;

  td.left {
    width: 80px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 14px 15px 18px 0;
    text-align: right;
    font-weight: bolder;
  }

  td.right {
    width: 140px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left; 
    font-weight: lighter;
  } 

  td.last {
  border-bottom: none;
  }
}

.btnstart.edit {
  text-align: right;
  float: right;
  font-family: $ff-head;
  font-weight: 400;
  color: white;
}