@import 'variables';

//  _____ _     _      _                
// /  ___(_)   | |    | |               
// \ `--. _  __| | ___| |__   __ _ _ __ 
//  `--. \ |/ _` |/ _ \ '_ \ / _` | '__|
// /\__/ / | (_| |  __/ |_) | (_| | |   
// \____/|_|\__,_|\___|_.__/ \__,_|_|   

//fix to make the sidebar extend full page length
.global-sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: $c-ivory;
  color: $c-slate;
  margin-top: 70px;

  ul{
    width: 160px;
    margin: 0 auto;

    li {
    list-style: none;
    padding: 40px 0 0 0;
    text-align: center;
    width: 125px;
    margin: auto;

      &:after {
        content: "";
        display: block;
        width: 50px;
        padding: 40px 0 0 0;
        border-bottom: 1px solid $c-slate;
        margin: auto;
      }

      &:last-child:after {
        border-bottom: none;
      }

      a {
      text-decoration: none;
      color: $c-midnight;
      }

    }
  }
}