.global-sidebar {
  float: left;
  width: 200px;
  height: 800px;
  background-color: #f9f5eb;
  color: #232323;

  ul{
    width: 160px;
    margin: 0 auto;

    li {
    list-style: none;
    padding: 40px 0 0 0;
    text-align: center;
    width: 125px;
    margin: auto;

      &:after {
        content: "";
        display: block;
        width: 50px;
        padding: 40px 0 0 0;
        border-bottom: 1px solid #333;
        margin: auto;
      }

      &:last-child:after {
        border-bottom: none;
      }

      a {
      text-decoration: none;
      color: gray;
      }

    }
  }
}




