$c-slate: #232323;
$c-midnight: #254a5d;
$c-aqua: #76c7a5;
$c-ivory: #f9f5eb;
$c-marigold: #efb968; //Great color name, Jen!


$ff-head: 'Source Sans Pro',Helvetica,Arial,sans-serif;
$ff-body: 'Noticia Text',Georgia,'New Times Roman',serif;
