//  _   _                
// | | | |               
// | | | | __ _ _ __ ___ 
// | | | |/ _` | '__/ __|
// \ \_/ / (_| | |  \__ \
//  \___/ \__,_|_|  |___/
                      

$c-slate: #232323;
$c-midnight: #254a5d;
$c-aqua: #76c7a5;
$c-ivory: #f9f5eb;
$c-marigold: #efb968; //Great color name, Jen!

//----------GREYSCALE COLORS FOR HI-FI WIREFRAME

$c-lightgrey: #dfdfdf;
$c-midgrey: #ddd;
$c-darkgrey: #666;


$ff-head: 'Source Sans Pro',Helvetica,Arial,sans-serif;
$ff-body: 'Noticia Text',Georgia,'New Times Roman',serif;


$border-radius: 5px;

$input-bg: rgb(237, 237, 237);
$input-boxshadow: inset 0px 1px 2px rgba(0,0,0,.3);
$input-border: 0px;
$input-height: 50px;
$input-width: 700px;
$input-fontsize: 18px;